<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Story</title>
  <link rel="icon" type="image/x-icon" href="static/favicon.ico">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<body>
  <div class="nav">
    <ul class="li">
      <li><img src="static/favicon.ico" alt="ico" height="40px" width="70px"></li>
      <li><a href="/">Home</a></li>
      <li>About</li>
    </ul>
  </div>
  <div class="box">
    <div class="childBx sameBx">
    <div class="smallBx ">
      <h3>Hello User!</h3>
      <div class="head">We are Script Squad</div>
      <div>
        A dynamic team of young, passionate coders fueled by innovation and driven by a shared love for artificial intelligence. With a knack for problem-solving and a creative approach to coding challenges, we thrive in the fast-paced environment of hackathons, leveraging our diverse skills and expertise to push the boundaries of AI technology. Together, we embody the spirit of collaboration, constantly pushing each other to new heights as we work tirelessly to turn our ideas into reality.
      </div>
    </div>
    <div class="smallBx">

      <img src="static/img/group1.jpeg" alt="img1" height="300px"></div>

    </div>
    <div class="childBx">
    <div class="smallBx"><img src="static/img/group2.jpeg" alt="img1" height="300px"></div>
    <div class="smallBx">
      <div class="head">Our Project</div>
      "AASK - AI Analysis of Student Knowledge" revolutionizes academic forecasting through AI. By harnessing the power of machine learning, we've developed an innovative model that predicts student grades with remarkable accuracy. Users simply input various parameters, such as study habits, past performance, and extracurricular activities, through our intuitive frontend interface. Behind the scenes, our robust backend processes this data, leveraging advanced algorithms to generate personalized grade predictions. With AASK.AI, students can gain valuable insights into their academic journey, empowering them to make informed decisions and strive for excellence.


</div>


    </div>
    <div class="childBx sameBx" style="padding-left: 150px; padding-right: 150px;">

      <div class="smallBx">

            <center><div class="head">Members and Mentor</div></center>
            <div>
              <p>Guiding us on this journey are our esteemed mentors, seasoned professionals with extensive experience in the field of artificial intelligence. Their mentorship and insights empower us to navigate challenges, refine our approaches, and achieve our project goals.</p>
            <p>
              Our team members are enthusiastic individuals eager to explore the realm of artificial intelligence and its applications. With a shared passion for technology and innovation, we come together to collaborate, learn, and create. From coding wizards to data aficionados, each member brings a unique set of skills and perspectives to the table, enriching our collaborative efforts. Together, we embrace challenges, experiment with new ideas, and work tirelessly to bring our AI model project to fruition.
            </p>
          </div>

    </div>

      </div>


  <div class="cRight">
    <div>
      copyright@ScriptSquad
    </div>
    <div>
      Anish-Kunal-Anuvab-Surjendu-Sunanda
    </div>
    </a>
  </div>

</body>
</html>